

html,
body {
  background-color: #EDF2F7;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}


.ant-input-affix-wrapper {
  width: auto;
}

.ant-form {
  text-align: center;
  margin: 0 auto;
  display: block;
  -webkit-box-shadow: 10px 6px 0 0 rgba(136, 189, 188, 0.6);
  box-shadow: 10px 6px 0 0 rgba(136, 189, 188, 0.6);
}

.container-login {
  background-color: white;
  width: 450px;
  margin: 100px auto;
  
}
.logo-login {
  padding-top: 30px;
}

.logo-img {
  width: 36px;
}

.title-login {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  line-height: 48px;
  color: #254E58;
}

.container-login .login-form .container-google .btn-google{
  background-color: #88BDBC!important;
  color: white!important;
  border-radius: 5px!important;

}

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
h2 span {
  background: #fff;
  padding: 0 10px;
}

.ant-divider-horizontal.ant-divider-with-text::before {
  margin-left: 135px;
  border-top: 1px solid #636363;
}

.ant-divider-horizontal.ant-divider-with-text::after {
  margin-right: 135px;
  border-top: 1px solid #636363;
}

.ant-divider-inner-text {
  color: #636363;
  font-size: 14px;
  font-family: 'Red Hat Text', sans-serif;

}

.ant-input-affix-wrapper,
.ant-input-affix-wrapper > input.ant-input {
  background-color: #EDF2F7;
  width: 350px;
  border-color: transparent;

}
.ant-input-affix-wrapper {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  height: 40px;
}

.ant-input-prefix {
  color: #808080;
}

.login-icon.anticon svg {
    margin-right: 10px;
}

.login-form-button.ant-btn-primary {
  background-color: #88BDBC;
  color: white;
  width: 350px;
  margin-bottom: 12px;
  font-family: 'Red Hat Text', sans-serif;
  height: 40px;
  border-color: transparent;

}

.register-caption {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  margin-bottom: 40px;
  color: #636363;
}

.register-link {
  color: #254E58;
  font-weight: bold;
}

.container-google > button > div {
  height: 30px;
  width: 35px;
  margin-left: 10px;
  border-radius: 5px!important;
  padding-top: 6px!important;
}

.container-google > button > div > span {
  font-family: 'Red Hat Text', sans-serif!important;
}