html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


main,
section.ant-layout {
  width: 100%;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

section.ant-layout {
  position: relative;
}

.user-greetings {
  position: absolute;
  top:15px;
  right:20px;
  z-index: 9;
}

.user-greetings:hover {
  border-color: #C3A560 ;
}

.user-greetings span {
  color: #C3A560;
}

.background-container-login {
  background-color: #EDF2F7;
  padding:100px 0;
  width: 100%;
}
body #__next .container > main {
  padding: 0;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}


.ant-input-affix-wrapper {
  width: auto;
}

.ant-form.login-form {
  text-align: center;
  margin: 0 auto;
  display: block;
  -webkit-box-shadow: 10px 6px 0 0 rgba(136, 189, 188, 0.6);
  box-shadow: 10px 6px 0 0 rgba(136, 189, 188, 0.6);
}

.container-login {
  background-color: white;
  width: 450px;
  margin: 0 auto;
  
}
.background-container-login .logo {
  margin: 0 auto;
  width: 20%;
}
.background-container-login .logo-img {
  padding-top: 30px;
}

.logo-img {
  width: 36px;
}

.title-login {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 36px;
  line-height: 48px;
  color: #254E58;
}

.container-login .login-form .container-google .btn-google{
  background-color: #88BDBC!important;
  color: white!important;
  border-radius: 5px!important;

}

h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}
h2 span {
  background: #fff;
  padding: 0 10px;
}

.ant-divider-horizontal.ant-divider-with-text::before {
  margin-left: 135px;
  border-top: 1px solid #636363;
}

.ant-divider-horizontal.ant-divider-with-text::after {
  margin-right: 135px;
  border-top: 1px solid #636363;
}

.ant-divider-inner-text {
  color: #636363;
  font-size: 14px;
  font-family: 'Red Hat Text', sans-serif;

}

.ant-input-affix-wrapper,
.ant-input-affix-wrapper > input.ant-input {
  background-color: #EDF2F7;
  width: 350px;
  border-color: transparent;

}
.ant-input-affix-wrapper {
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
  height: 40px;
}

.ant-input-prefix {
  color: #808080;
}

.login-icon.anticon svg {
    margin-right: 10px;
}

.login-form-button.ant-btn-primary {
  background-color: #88BDBC;
  color: white;
  width: 350px;
  margin-bottom: 12px;
  font-family: 'Red Hat Text', sans-serif;
  height: 40px;
  border-color: transparent;

}

.register-caption {
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  margin-bottom: 40px;
  color: #636363;
}

.register-link {
  color: #254E58;
  font-weight: bold;
}

.container-google > button > div {
  height: 30px;
  width: 35px;
  margin-left: 10px;
  border-radius: 5px!important;
  padding-top: 6px!important;
}

.container-google > button > div > span {
  font-family: 'Red Hat Text', sans-serif!important;
}

.ant-breadcrumb > span:last-child {
  color: white;
}

.ant-breadcrumb-separator {
  color: white;
}


#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #88BDBC;
}

.ant-layout-sider-children .ant-layout-header {
  background-color: white;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
  z-index: 10;
  position: relative;
}

.logo-img {
  width: 100%;
}

.logo {
  width: 36px;
  margin-left: 20px;
}

header .anticon[tabindex] {
  color: #808080;
  right: 0;
  position: absolute;
  margin-top: 25px;
  margin-right: 25px;
}

.ant-menu-dark.ant-menu-inline, .ant-menu-dark.ant-menu-vertical, .ant-menu-dark.ant-menu-vertical-left, .ant-menu-dark.ant-menu-vertical-right {
  background-color: white;
}

.ant-layout-sider-children {
  background-color: white;
  z-index: 9;
  position: relative;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 2px 0 2px 0 rgba(0,0,0,0.2);
}

.ant-menu.ant-menu-dark.ant-menu-root.ant-menu-inline span {
  color: #4d4d4d;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: transparent;
 
}

.ant-menu.ant-menu-dark.ant-menu-root.ant-menu-inline span:hover {
  color: #3C6A73;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected span {
  color:#3C6A73;
 
}

.ant-layout-sider.ant-layout-sider-collapsed .sider-h1,
.ant-layout-sider.ant-layout-sider-collapsed .logo
 {
  display: none;
}

.ant-layout-sider.ant-layout-sider-collapsed span {
  color: #4d4d4d;
}


.sider-h1 {
  font-family: 'Red Hat Text', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  margin-top: 45px;
  margin-left: 45px;
  margin-bottom: 28px;

}

ul.ant-menu .ant-menu-item {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-transform: capitalize;
}

.site-page-header.ant-page-header.has-breadcrumb {
  background-color: white;
  height: 64px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.ant-breadcrumb {
  margin-top: 9px;
  margin-left: 42px;
}

.ant-breadcrumb a {
  color: black;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

.ant-breadcrumb-separator {
  color: black;
}

.ant-breadcrumb-link {
  color: #FFD064;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}

main .ant-layout .ant-layout-content.site-layout-background {
  background-color: #88BDBC;
  margin: 0;
  min-height: 100vh;
}

.page-title {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 30px;
  text-transform: capitalize;
  color: white;
  margin-top: 24px;
  margin-bottom: 23px;
}

.ant-card.card-users {
  border-radius: 8px;
  height: 145px;
  background-image: linear-gradient(#88BDBC,#112D32);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.ant-card.card-appointments {
  border-radius: 8px;
  height: 145px;
  background-image: linear-gradient(#6E6658,#C1AF85);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.ant-card.card-alerts {
  border-radius: 8px;
  height: 145px;
  background-image: linear-gradient(#112D32 5%, #6A7C69 95%);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.ant-card.card-dictations {
  border-radius: 8px;
  height: 145px;
  background-image: linear-gradient(#C3A560, #112D32);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2);
}

.ant-card-head {
  border-bottom: none;
}

.today-card {
  display: flex;
  flex-direction: row-reverse;
}

.today-card .ant-statistic-title {
  color: white;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-transform: capitalize;
  margin-top: 8px;
}

.ant-statistic-title {
  margin-left: 5px;
}

.new-users-card .ant-statistic-title {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 15px;
  text-transform: uppercase;
  margin-top: 8px;
  color: white;
}

.ant-statistic-content-value-int {
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.recharts-area-area {
  background-image: linear-gradient(#FFD064,#112D32);
}

.ant-table-container table > thead > tr:first-child th:first-child {
  border-right: solid #FFD064 2px;
  width: 180px;
}

.ant-table-container table > thead > tr th:nth-child(2){
  border-right: solid #FFD064 2px;
  width: 180px;
}

.ant-table-container table > thead > tr th:nth-child(3){
  border-right: solid #FFD064 2px;
  width: 250px;
}

.ant-table-container table > thead > tr th:nth-child(4){
  border-right: solid #FFD064 2px;
  width: 150px;
}

.ant-table-container table > thead > tr th:nth-child(5){
  background-color: #E2E2E2;  
}

.ant-table-row.ant-table-row-level-0 {
  width: 128px;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a {
  color: inherit;
}

.ant-menu-dark .ant-menu-item, .ant-menu-dark .ant-menu-item-group-title, .ant-menu-dark .ant-menu-item > a, .ant-menu-dark .ant-menu-item > span > a:hover {
  color: #3C6A73;
}

.btn-table  {
  background-color: #C3A560;
  color: white;
  border-radius: 5px;
  border-color: transparent;
}
.btn-table:hover  {
  background-color: #d3b779;
  border-color: transparent;
  
}

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  border-color: #C3A560;
  color: #C3A560;
}


.ant-pagination-item,
.ant-pagination-item-active
{
  border-color: #C3A560;
}
.ant-pagination-item a,
.ant-pagination-item-active a
{
  color: #C3A560;


}
.ant-pagination-item-active a {
  background-color: #E2E2E2;
}

.ant-select-selection-item {
  color: #C3A560;
}

.site-card-wrapper .ant-card-bordered .ant-card-cover {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: 40px auto;
}
.ant-card-cover img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.avatar-crop-wrapper {
  position: relative;
}
.form-set-avatar {
  position: absolute;
  top: 30%;
  right: 40%;
  transform: translate(-40%, -30%);
  z-index: 9;
}
.form-set-avatar input {
  display: none;
}
.form-set-avatar a {
  visibility: hidden;
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
  color: white;
  background-color: #C3A560;
}
.form-set-avatar button {
  display: none;
}
.form-set-avatar:hover {
  cursor: pointer;
}
.form-set-avatar:hover a {
  visibility: visible;
}
.form-set-avatar:hover + .ant-card .ant-card-cover img,
.ant-card-cover img:hover {
  opacity: 0.5;
}

.ant-card-meta-detail {
  text-align: center;
}

.avatar-form .ant-card .ant-card-body {
  padding: 0 0 24px;
}

.workload {
  text-align: left;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: bold;
  color: #7B7B7B;
  margin-left: 36px;
}

.progress-work {
  float: left;
  margin-left: 30px;
  margin-top: 15px;
}

.ant-card-actions .notes-card {
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  font-size: 13px;
  font-weight: bold;
  color: #7B7B7B;
}

.desc-workload {
  text-align: left;
  margin-left: 214px;
  margin-right: 40px;
  font-size: 11px;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
  margin-bottom: 50px;
}

.desc-workload p {
  margin-bottom: 0;
}

.ant-card-actions {
  background-color: transparent;
}

.avatar-form .ant-card {
  border-radius: 8px;
  width: 360px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.ant-card-head {
  border-bottom: 1px solid #f0f0f0;
}

.email-input,
.first-name-input {
  width: 40%;
  display: inline-block;
}

.username-input,
.last-name-input {
  width: 40%;
  display: inline-block;
  margin-left: 158px;
}

.address-input {
  display: inline;
}

.description-input {
  display: inline;
}

.address-input .ant-form-item-control,
.description-input .ant-form-item-control {
  margin-bottom: 24px;
}

.ant-form-item .ant-col-offset-8 {
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.update-profile {
  background-color: #C3A560;
  border-color: transparent;
  border-radius: 5px;
}

.update-profile:hover {
  background-color: #C1AF85;
  border-color: transparent;
}

.ant-form-item-label label {
  color: #7B7B7B;
  font-family: 'Red Hat Text', sans-serif;
  font-style: normal;
}

.ant-form-item-control-input-content input,
.ant-form-item-control-input-content textarea {
  border-radius: 5px;
}

.ant-col-16 .ant-card-bordered {
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}