.wrapper {
  width: 100%;
}

.logo {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-top: 45px;
}

.form-login {
  margin-top: 8%;
  margin-left: 40%;
}

.input-email.form-control{
  width: 35%;
}

.input-password.form-control {
  width: 35%;
}

.poster-list {
  max-width: 150px;
}

.editform-poster {
    max-width: 25%;
}

